{% extends 'base.html' %}
{% load staticfiles %}
{% load cache %}
{% block page_css %}
{% endblock %}

{% block page_jq %}
    <script type="text/javascript" src="/static/js/unslider.min.js"></script>
    <script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}

{% block title %}
    首页
{% endblock %}
{% block page_head %}
    {% include 'include/common/page_top.html' %}
    {% include 'include/common/page_search.html' %}
{% endblock %}
{% block page_content %}
    {% include 'include/confirm_pay_page.html' %}
{% endblock %}
{% block page_footer %}
    {% include 'include/common/footer.html' %}
{% endblock %}



