<!DOCTYPE html>
<html lang="en">
{% load custom_filter %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'confirm' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>图片</th>
            <th>标题</th>
            <th>价格</th>
            <th>数量</th>
            <th>总价</th>
            <th>操作</th>
        </tr>
        {% for car in cars %}
            <tr>
                <td><input type="checkbox" name="ck" value="{{ forloop.counter0 }}"></td>
                <td><img src="http://127.0.0.1:8000/static/img/small/{{ car.img.shop_img_id }}.jpg"></td>
                <td><a href="#">{{ car.shop.name }}</a></td>
                <td><a href="#">{{ car.shop.promote_price }}</a></td>
                <td><input type="number" value="{{ car.number }}" name="number"></td>
                <td>{{ car.number|multiply:car.shop.promote_price }}</td>
                <td><a href="">移除</a></td>
                <input type="hidden" name="car_id" value="{{ car.car_id }}">
            </tr>
        {% endfor %}
    </table>
    <div>
        <input type="submit" value="结算">
    </div>
</form>
</body>
</html>